.header{
    background-color: #0A0A0A;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header__menu{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.header__menu--items + .header__menu--items{
    padding-left: 40px;
}

.header__menu--link{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #717171;
}  

.header__logo{
    padding-left: 220px;
}

.header__number{
    text-align: right;
    flex-grow: 1;
    flex-basis: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #717171;
}

.headline{
    text-align: center;
    padding: 71px 0 40px;
}

.headline__title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #490E84;
    margin: 0 0 40px;
}

.headline__img{
    display: inline-block;
    margin-bottom: 25px;
}

.headline__btn{
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #490E84;
    padding: 22px 117px 19px;
    border-radius: 30px;
}